<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.calculatorfinanciar">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculatorFinanciar"
        tools:targetApi="31">
        <activity
            android:name=".PersoanaFizicaCheltuieliAlteCheltuieliActivity"
            android:exported="false" />
        <activity
            android:name=".PersoanaFizicaCheltuieliInvestitiiActivity"
            android:exported="false" />
        <activity
            android:name=".PersoanaFizicaCheltuieliRateActivity"
            android:exported="false" />
        <activity
            android:name=".PersoanaFizicaCheltuieliCumparaturiActivity"
            android:exported="false" />
        <activity
            android:name=".PersoanaFizicaIncasariAltaOptiuneActivity"
            android:exported="false" />
        <activity
            android:name=".PersoanaFizicaIncasariInvestitiiActivity"
            android:exported="false" />
        <activity
            android:name=".PersoanaFizicaIncasariSalariuActivity"
            android:exported="false" />
        <activity
            android:name=".PersoanaJuridicaActivity"
            android:exported="false" />
        <activity
            android:name=".PersoanaFizicaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>